oivee n8n/oivee/lead_capture.json
{
  "name": "Oivee — Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oivee-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "oivee-lead"
    },
    {
      "parameters": {
        "fromEmail": "crimsonleafwind@gmail.com",
        "toEmail": "clg.oishiksamanta@gmail.com",
        "subject": "=New Lead: {{ $json.body?.name || $json.name }} — {{ $json.body?.business_name || $json.business_name || 'No business' }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: 'DM Sans', Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #0A0A0A; color: #F5F5F0; padding: 32px; border: 1px solid rgba(201,168,76,0.2); border-radius: 4px;\">\n  <div style=\"border-bottom: 1px solid rgba(201,168,76,0.2); padding-bottom: 16px; margin-bottom: 24px;\">\n    <h1 style=\"font-family: 'Times New Roman', serif; color: #C9A84C; margin: 0; font-size: 24px;\">New Lead Captured</h1>\n  </div>\n  <table style=\"width: 100%; border-collapse: collapse;\">\n    <tr><td style=\"padding: 8px 0; color: #A0A0A0; width: 120px;\">Name</td><td style=\"padding: 8px 0; font-weight: 600;\">{{ $json.body?.name || $json.name }}</td></tr>\n    <tr><td style=\"padding: 8px 0; color: #A0A0A0;\">Email</td><td style=\"padding: 8px 0;\"><a href=\"mailto:{{ $json.body?.email || $json.email }}\" style=\"color: #C9A84C;\">{{ $json.body?.email || $json.email }}</a></td></tr>\n    <tr><td style=\"padding: 8px 0; color: #A0A0A0;\">Phone</td><td style=\"padding: 8px 0;\">{{ $json.body?.phone || $json.phone || 'Not provided' }}</td></tr>\n    <tr><td style=\"padding: 8px 0; color: #A0A0A0;\">Business</td><td style=\"padding: 8px 0;\">{{ $json.body?.business_name || $json.business_name || 'Not provided' }}</td></tr>\n    <tr><td style=\"padding: 8px 0; color: #A0A0A0;\">Message</td><td style=\"padding: 8px 0;\">{{ $json.body?.message || $json.message || 'No message' }}</td></tr>\n    <tr><td style=\"padding: 8px 0; color: #A0A0A0;\">Source</td><td style=\"padding: 8px 0;\">{{ $json.body?.source || $json.source || 'website' }}</td></tr>\n  </table>\n  <div style=\"margin-top: 24px; padding-top: 16px; border-top: 1px solid rgba(201,168,76,0.2); font-size: 12px; color: #6B6B6B;\">\n    Captured at {{ $now.toISO() }} via Oivee website\n  </div>\n</div>",
        "options": {}
      },
      "id": "notify-1",
      "name": "Notify Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [500, 150],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "Oivee SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "crimsonleafwind@gmail.com",
        "toEmail": "={{ $json.body?.email || $json.email }}",
        "subject": "We got your message — here's what happens next",
        "emailType": "html",
        "html": "=<div style=\"font-family: 'DM Sans', Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #0A0A0A; color: #F5F5F0; padding: 32px; border: 1px solid rgba(201,168,76,0.2); border-radius: 4px;\">\n  <div style=\"text-align: center; margin-bottom: 32px;\">\n    <h1 style=\"font-family: 'Times New Roman', serif; color: #C9A84C; margin: 0; font-size: 28px;\">Oivee</h1>\n  </div>\n  <p style=\"font-size: 18px; margin-bottom: 8px;\">Hey {{ ($json.body?.name || $json.name || '').split(' ')[0] }},</p>\n  <p style=\"color: #A0A0A0; line-height: 1.7;\">Thanks for reaching out. We don't do cookie-cutter replies — someone from our team will personally review your inquiry and get back to you within 24 hours.</p>\n  <p style=\"color: #A0A0A0; line-height: 1.7;\">In the meantime, here's what you can expect:</p>\n  <ul style=\"color: #A0A0A0; line-height: 2; padding-left: 20px;\">\n    <li>A quick review of your brand and current online presence</li>\n    <li>A personalized strategy call (15-20 min, no fluff)</li>\n    <li>An honest assessment of what would move the needle for you</li>\n  </ul>\n  <p style=\"color: #A0A0A0; line-height: 1.7;\">If you need anything urgent, WhatsApp us directly at <a href=\"https://wa.me/919064982248\" style=\"color: #C9A84C; text-decoration: none;\">+91 90649 82248</a>.</p>\n  <p style=\"margin-top: 24px;\">Talk soon,<br/><span style=\"color: #C9A84C; font-weight: 600;\">Team Oivee</span></p>\n  <div style=\"margin-top: 32px; padding-top: 16px; border-top: 1px solid rgba(201,168,76,0.15); text-align: center; font-size: 12px; color: #6B6B6B;\">\n    Oivee — We make brands impossible to ignore.<br/>oivee.com\n  </div>\n</div>",
        "options": {}
      },
      "id": "autoreply-1",
      "name": "Auto-Reply to Lead",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [500, 450],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "Oivee SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead captured successfully' }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [500, 300]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 },
          { "node": "Notify Team", "type": "main", "index": 0 },
          { "node": "Auto-Reply to Lead", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "oivee" },
    { "name": "lead-capture" },
    { "name": "production" }
  ]
}
